<% if closed %>
<h1>Yes</h1>
<h3>It's closed. You'll have to go around.</h3>
<% else %>
<h1>No</h1>
<h3>It's open. You'll have to go around.</h3>
<% end %>

<p class="reported">Reported <%= timestamp %> ago</p>

<form method="post" action="/update">
  <p class="update">That's a filthy lie.<br class="mobile-br"/> I'm standing right here and <a href="#">it's actually <%= closed ? "open" : "closed" %></a>.
</form>

<div class=meta>
  <a href="https://twitter.com/penn_ave_status">Twitter</a> | <a href="https://github.com/benbalter/is-pennsylvania-avenue-closed">Source</a> | <a href="/api">API</a>
</div>
