<h1><%= closed ? "No" : "Yes" %></h1>
<p class="reported">Reported <%= timestamp %> ago</p>

<form method="post" action="/update">
  <p class="update">That's a filthy lie. I'm standing right here and <a href="#">it's actually <%= closed? ? "open" : "closed" %></a>.
</form>
